{% extends "auctions/layout.html" %}

{% block body %}
    <h3><u>Filtered by {{ category }}:</u></h3>
    {% for listing in listings %}
        <ul class="m-3">
            <li>
                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                {% if listing.image != "" %}
                <img src="{{ listing.image.url }}" alt="{{ listing.image }}" width="auto" height="100px">
                {% endif %}
            </li>
        </ul>
    {% endfor %}
{% endblock %}